.center {

    &__inner{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &__text{
        text-align: center;
        &-title{
            font-size: 40px;
            font-weight: 600;
            line-height: 49px;
            margin-top: 94px;
            color: #082B60;
        }
        &-subtitle{
            max-width: 1158px;
            width: 100%;
            font-size: 30px;
            font-weight: 400;
            line-height: 50px;
            text-align: left;
            & > span{
            font-size: 30px;
            font-weight: 400;
            line-height: 50px;
            transition: all .5s;
            }
        }
        &-btn{
            background: none;
            border: none;
            color: red;
            font-size: 30px;
            font-style: italic;
            font-weight: 700;
            line-height: 50px;
        }
    }
}