.footer{
  position: relative;
    width: 100%;
    height: 713px;
    margin-top: 188px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__left-logos{
        display: flex;
        margin-top: 21px;
        &-img{
          margin-right: 15px;
        }
    }
}

.footer__img > img {
  width: 100%;
}

.footer__img{
  position: absolute;
  z-index: -1;
    width: 100%;
    height: 713px;


}

.footer__img:first-child {
  margin-left: 0px;
}

.footer__inputs {
    display: flex;
    padding-top: 40px;
    padding-left: 40px;
    // transform: translateY(-120%)

  }

  // .footer__text {
  //   transform: translateY(-1600%)
  // }
  
  .footer__img {
    width: 100%;
    height: 713px;
    margin-left: 45px;
    // position: relative;
  }
  
  .input__question {
    /* transform: translateY(-150%); */
  }
  
  .contuct {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 30px;
  }
  
  .input {
    width: 436px;
    height: 39px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    border: none;
  }
  
  .input__register {
    margin-left: 280px;
    /* transform: translateY(-150%); */
  }
  .input__name {
    width: 615px;
    height: 60px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
  }
  
  .input__email {
    width: 615px;
    height: 60px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
  }
  
  .input__massage {
    width: 615px;
    height: 250px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    resize: none;
    border: none;
  }
  
  .input__btn {
    width: 252px;
    height: 61px;
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    border: none;
    margin-top: 30px;
    margin-left: 364px;
  }
  
  .send__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  
  .btn__img {
    max-width: 28px;
    width: 100%;
    height: 25px;
  }
  
  .footer__silk {
    font-weight: normal;
    font-size: 18px;
    line-height: 41px;
    color: #c1bdbd;
    font-family: "Poppins", sans-serif;
    top: 664px;
    left: 600px;
  }

  #status {
    width: 50%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border-radius: 8px;
  }
  #status.success {
    margin-top: 20px;
    font-size: 18px;
    line-height: 41px;
    color: #c1bdbd;
    font-family: "Poppins", sans-serif;
    background-color: #000;
    color: #fff;
    animation: status 4s ease forwards;
  }
  #status.error {
    margin-top: 20px;
    font-size: 18px;
    line-height: 41px;
    color: #c1bdbd;
    font-family: "Poppins", sans-serif;
    background-color: rgb(250, 129, 92);
    color: #fff;
    animation: status 4s ease forwards;
  }



  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }
  

  @media(max-width: 1296px) {
    .footer__inputs {
      flex-direction: column;
    }
    .contuct {
      margin-left: 510px;
    }
    .contuct:first-child{
      margin-top: -30px;
    }
    .input {
      margin-left: 370px;
      
    }
    .footer__left-logos:last-child {
      margin-left: 510px;
      margin-bottom: 10px;
     
    }

    .footer{
      vertical-align: middle;
    }
    
  }

  @media(max-width: 790px) {
    .footer__inputs {
      flex-direction: column;
    }
    .contuct {
      margin-left: 530px;
    }
    .contuct:first-child{
      margin-top: -30px;
    }
    .input {
      margin-left: 370px;
    }
    .footer__left-logos:last-child {
      margin-left: 530px;
      margin-bottom: 10px;
    }
    
  }

