* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inside__body {
  background: #e5e5e5;
}
.img__header:first-child {
  padding: 0;
}

.header-inside__img {
  width: 100%;
  height: 880.96px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-inside__img > img {
  width: 100%;
}

.header-inside__nav {
  width: 770px;
  height: 68px;
  transform: skew(28deg);
  background: #EEEEEE;
  position: absolute;
  top: 105%;
  left: 48%;
  display: flex;
  justify-content: space-between;
  padding: 0 80px 0 80px;
  }

.header-inside__nav > a {
  text-transform: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.79);
}


.container__block {
  margin-top: 189px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 339px;
}

.main__text {
  font-weight: normal;
  font-size: 26px;
  line-height: 38px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #293844;
  width: 596px;
  height: 152px;
}

.main__img {
  max-width: 561px;
  width: 100%;
  height: 554px;
}

.lenin-peak__info {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1049px;
  width: 100%;
  // height: 1248px;
  background: #fff;
  gap: 0 88px;
  // margin-left: 120px;
}

.lenin-peak__block {
  background: #fff;
}

.lenin-peak__text {
  font-weight: normal;
  font-size: 48px;
  line-height: 77px;
  font-family: Walking Straight;
  color: #000000;
  width: 217px;
  height: 374px;
  margin-left: 86px;
}

.lenin-peak__img {
  max-width: 903px;
  width: 100%;
  // height: 1247.87px;
}

.card__ben {
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #9791a0;
  margin-top: 288px;
  position: relative;
}

.Benefits {
  margin-left: auto;
}
.card__img {
  position: relative;
  max-width: 494px;
  width: 100%;
  padding-left: 44px;
}
.card-homewh__img {
  max-width: 450px;
  width: 100%;
}

.card-home__img {
  position: absolute;
  top: 10px;
  left: 0;
  max-width: 450px;
  width: 100%;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
}

.card__info {
  display: flex;
}

.img__info {
  position: absolute;
  top: 50%;

  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  font-weight: normal;
  font-size: 26px;
  line-height: 34px;
  color: #ffffff;
}

.card__texts {
  background: #fff;
  width: 860px;
  height: 450px;
}

.vector__img {
  padding-top: 52px;
  margin-left: 60px;
}

.vector__img > img {
  width: 17px;
  height: 23px;
}

.card__text {
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
  padding-top: 46px;
  padding-left: 14px;
  width: 397px;
}

.vector__block {
  display: flex;
}

.double__img {
  margin-left: 60px;
  margin-top: 11px;
}

.double__img > img {
  width: 27px;
  height: 18px;
}

.doub__text {
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  align-items: center;
  letter-spacing: 0.1em;
  padding-left: 16px;
}

.double__block {
  display: flex;
}

.brekafast__block {
  display: flex;
}

.breakfast__img > img {
  width: 24px;
  height: 23px;
}

.breakfast__img {
  margin-left: 60px;
  margin-top: 8px;
}

.breakfast__text {
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
  padding-left: 11px;
}

.wifi-parking__block {
  display: flex;
}

.wifi__img > img {
  border-right: 1px solid #000000;
  padding-right: 4px;
  margin-right: 6px;
}

.wifi__img {

  margin-left: 44px;
  margin-top: 8px;
}

.parking__img > img {
  margin-top: 6px;
}

.wifi-parking__text {
  font-weight: normal;
  font-size: 22px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
  padding-left: 10px;
  margin-top: -4px;
}

.star {
  margin-left: 54px;
}

.price {
  font-weight: bold;
  font-size: 22px;
  line-height: 40px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
  margin-top: 58px;
  margin-left: 43px;
}

.deal {
  font-weight: normal;
  font-size: 28px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.79);
  text-align: center;
}

.deal:first-child {
  margin: 0;
}

.btn__inside {
  background: #C9CDD6;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;
  margin-top: 43px;
  margin-right: 25px;
  border: none;
}

.boz {
  align-items: center;
  margin-left: 10px;
}

.price__block {
  display: flex;
  justify-content: space-between;
}

.card-card {
  margin-bottom: 45px;
}

.activ__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 47px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(0, 0, 0, 0.88);
margin-top: 354px;
}

.activ__img {
  width: 100%;
  height: 991px;
  position: relative;
}

.activ__img > img {
  display: block;
  width: 100%;
  height: auto;

}

.activ__text {
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  position: absolute;
  top: 45%;
  left: 42%;
  width: 300px;
}

.activ__block {
  display: flex;
  justify-content: space-between;
  margin-top: 127px;
}

.cable__img {
  position: relative;
}

.cable {
  font-weight: normal;
  font-size: 30px;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  top: 35%;
  left: 30%;
}

.horse__img {
  position: relative;
}

.horse {
  font-weight: normal;
  font-size: 30px;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  top: 40%;
  left: 30%;
}

.rodelbahn__img {
  position: relative;
}

.redelbahn {
  font-weight: normal;
  font-size: 30px;
  line-height: 90px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  position: absolute;
  top: 40%;
  left: 30%;
}

.btn__activ {
  margin-top: 126px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.btn-activ__text:last-child{
  margin: 0;
}

.btn-activ__text {
  font-weight: normal;
  font-size: 28px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
}

.btn-activ__styl{
  background: #C9CDD6;
  border-radius: 50px;
  border: none;
  padding: 15px 30px;

}

.footer-inside__img > img {
  width: 100%;
}

.footer-inside__img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 713px;
}

.footer__inside {
  position: relative;
  width: 100%;
  height: 713px;
  margin-top: 120px;
}

.input__inside {
  width: 436px;
  height: 39px;
  color: #fff;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  border: none;
}

.ques > span {
  color: #FFFFFF;
}

.ques {
  font-weight: normal;
  font-size: 28px;
  line-height: 41px;
  color: #D9D8D8;
}



.input-inside__name {
  width: 615px;
  height: 60px;
  background-color: rgba(216, 174, 174, 0.52);
  color: #FFFFFF;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
}

.input-inside__email {
  width: 615px;
  height: 60px;
  background-color: rgba(216, 174, 174, 0.52);
  color: #fff;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
}

.input-inside__massage {
  width: 615px;
  height: 250px;
  background-color: rgba(216, 174, 174, 0.52);
  color: #fff;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  resize: none;
  border: none;
}

.input-inside__btn {
  width: 252px;
  height: 61px;
  background-color: #D8AEAE;
  color: #fff;
  border-radius: 10px;
  outline: none;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 41px;
  border: none;
  margin-top: 30px;
  margin-left: 364px;
}

