.review{
    margin-top: 110px;
    &__inner{
        display: flex;
        margin-top: 65px;
    }
    &__card{
        display: flex;
         flex-direction: column;
         margin-right: 18px;
         :last-child{
             margin-right: 0;
         }
    }
    &__title{
        color: #082B60;
        font-size: 30px;
        font-weight: 600;
        line-height: 45px;
        font-family: 'Poppins', sans-serif;
        margin-top: 10px;
        margin-bottom: 45px;
    }
    &__subtitle{
        font-size: 25px;
        font-weight: 400;
        line-height: 38px;
        max-width: 310px;
        width: 100%;
        height: 114px;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 45px;
    }
    &__link{
        color: #000000;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        line-height: 38px;

    }
    &__card-img{
        max-width: 315px;
        width: 100%;
        height: 287px;
        transition: all .4s;
        &:hover{
            opacity: 0.7;
        }
    }
}

.rating-circle {
    height: 16px;
    width: 16px;
    border-radius: 1.1em;
    display: inline-block;
    margin: 0;
    padding: .1em;
    transform: translate(200%, -130%);
    background-color: #fff;
   }

   .rating-chosen {
    background-color: #FEE333;
   }

.rating{

    &__title{
        font-size: 25px;
        font-weight: 600;
        line-height: 38px;
        color: #000000;
        text-decoration: underline;
        &:hover{
            color: #000000;
        }
    }
    &__subtitle{
        font-size: 25px;
        font-weight: 400;
        line-height: 38px;
        max-width: 274px;
        width: 100%;
        height: 76px;
    }
}

.footer__silk{
    text-align: center;
}

@media (max-width: 1050px) {
    .review__inner{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .review__left{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .review__subtitle{
        max-width: 100%;
        margin-bottom: 0;
    }
    .review__card{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 30px;
        margin-right: 0;
    }
    .header__navigation-1{
        align-items: center;

    }
    .header__item-toggle {
        margin-top: 15px;
    }

}

@media(max-width: 1350px){
    .footer__inputs{
        padding: 0;
    }
    .footer__img{
        display: none;
    }
    .input{
        margin-bottom: 10px;
    }
}